@keyframes arrow{
    0%  {transform: translateY(0);background-image: url(http://tv.sohu.com/upload/time/mobile/images/scroll_down_btn1.png)}
    50% {transform: translateY(-10px);background-image: url(http://tv.sohu.com/upload/time/mobile/images/scroll_down_btn.png)}
    100%{transform: translateY(0);background-image: url(http://tv.sohu.com/upload/time/mobile/images/scroll_down_btn1.png)}
}

@keyframes chuansuo{
    0% {
        transform: translate(-2000px,2000px);
    }
    100%   {
        transform: translate(0,0);
    }
}

@keyframes ship-text{
    from {
        transform: translate(2000px,-1400px);
    }
    to   {
        transform: translate(0,0);
    }
}

@keyframes xingkong{
    0%{
        transform:translate(-10%, 10%);
    }
    100%{
        transform:translate(0, 0);
    }
}

@keyframes fly1{
    0%, 80% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
    100% {
        opacity: 0;
        transform: translate(1500px,-300px);
    }
}

@keyframes s2-shadow{
    0%   {transform: translate(-100px, 150px);}
    100% {transform: translate(0, 0);}
}

@keyframes s2-fox{
    0%   {transform: rotate(-150deg);}
    90%  {transform: rotate(5deg);}
    100% {transform: rotate(0deg);}
}

@keyframes s2-sun{
    0%   {transform: translateY(150px);}
    100% {transform: translateY(0);}
}

@keyframes s2-tree{
    0%   {transform: rotate(150deg);}
    100% {transform: rotate(0);}
}

@keyframes leftToRight{
    0%   {transform: translateX(0);}
    50%   {transform: translateX(50px);}
    100%   {transform: translateX(0);}
}

@keyframes s3-man{
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px);
    }
}

@keyframes s3-chair{
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes s3-plane{
    0%    {opacity: 0;transform: scale(0.8,0.8);}
    100%  {opacity: 1;transform: scale(1,1);}
}

@keyframes slideleftcloud{
    0%    {
        opacity: 1;
        transform: translateX(0);
    }
    50%   {
        opacity: 1;
        transform: translateX(50px);
    }
    100%  {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes sliderightcloud{
    0%    {
        opacity: 1;
        transform: translateX(0);
    }
    50%   {
        opacity: 1;
        transform: translateX(-50px);
    }
    100%  {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes clockrotate{
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes sliderightcloud{
    0%    {
        transform: translateX(0);
    }
    50%   {
        transform: translateX(-30px);
    }
    100%  {
        transform: translateX(0);
    }
}

@keyframes slideleftcloud{
    0%    {
        opacity: 1;
        transform: translateX(0);
    }
    50%   {
        opacity: 1;
        transform: translateX(30px);
    }
    100%  {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes flydayan{
    0% {
        transform: translateX(10px) scaleY(0.95);
    }
    100% {
        transform: translate(0,0);
    }
}

@keyframes rotatelightleft{
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(15deg);
    }
}

@keyframes rotatelightright{
    0% {
        opacity: 1;
        transform: rotate(0);
    }
    100% {
        opacity: 1;
        transform: rotate(-15deg);
    }
}

@keyframes star{
    0%, 90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes computerlight {
    from {opacity: .5;} 
    to   {opacity: 1;}
}

@keyframes leftheartfadeout {
    0% {
        opacity: .5;
        transform: translate(60px,90px);
    } 
    50% {opacity: 1;}
    100%   {
        opacity: 0;
        transform: translate(-10px,-10px) scale(.9,.9);
    }
}

@keyframes rightheartfadeout {
    0% {
        opacity: .5;
        transform: translate(-20px,0);
    } 
    50% {opacity: 1;}
    100%   {
        opacity: 0;
        transform: translate(40px,-80px);
    }
}

@keyframes scalefox {
    0% {s
        transform: scale(2,2);
    } 
    25%,100%   {
        transform: scale(1,1);
    }
}

@keyframes loading-pie{
    0%   {transform: rotate(0);}
    100% {transform: rotate(360deg);}
}

@keyframes scalebj {
    0% {
        transform: scale(4,4) translateY(10%);
    }
    100%   {
        transform: scale(1,1) translateY(0);
    }
}
@keyframes slidein {
    0% {
        transform: translate(80%,60%);
    }
    100%   {
        transform: translate(0,0);
    }
}

@keyframes s11-ship{
    0%{transform: translate(2000px, 1550px)}
    100%{transform: translate(0, 0)}
}
@keyframes s11-bg{
    0%{transform: translate(0, 0)}
    100%{transform: translate(0, -30%)}
}


@keyframes s7-day-cloud1{
    0%,100% {
        transform: translateX(0);
    }
    50%   {
        transform: translateX(50px);
    }
}
@keyframes s7-day-cloud2{
    0%,100% {
        transform: translateX(10px);
    }
    50%   {
        transform: translateX(-10px);
    }
}

@keyframes jump {
    0% {}
    5% {-webkit-transform: translateY(-15px);transform: translateY(-15px);}
    20%, 100% {-webkit-transform: translateY(0);transform: translateY(0);}
}